.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.divTable{
  display:table;
  max-width:20em;
  float:right;
  display:flex;
  align-items:center;
}  
  
.divTableRow{
  display:table-row;
}

.divTableHeading{
  
  display:table-header-group;
  font-weight:bold;



}

.divTableCell,.divTableHead{
  border:1px solid grey;
  display:table-cell;
  padding:3px 10px;
}


  



.divTableFoot{
  background-color: #eee;
  display:table-footer-group;
  font-weight:bold;
}

.divTableBody{
  display:table-row-group;
}

.divTableCell:nth-child(1n){
  background-color:gainsboro;
}

.container{
  display:flex;
  opacity:0.9;
  background-color:#505c5f;
  justify-content: center;
  height:400px;
  width:600px;
  border-radius:10px;
  box-shadow:inset 10px 10px 10px grey;

}

img{
  height:16rem;

}

input{
 height:50px;
 width:400px;
 padding:10px;
 background-image: linear-gradient(60deg,rgb(36, 30, 30),rgb(137, 145, 149));
 border-radius: 20px;
 border:none;
 box-shadow: 10px 10px 10px rgb(96, 96, 108);
 font-size: 20px;
 padding:10px;
 margin-bottom:20px;
 color:white;

}

body{
  background-image: url("https://i.pinimg.com/originals/0d/05/20/0d05201572964220c7c3b6ceab245bd8.gif");
  background-size:fill;


}  
